html {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #333333;
  font-family: "Open Sans", sans-serif; }

* > a {
  color: inherit; }
* > a:hover {
  color: inherit; }
* > a:active {
  color: inherit; }
* > a:focus {
  color: inherit; }

* h1 > a {
  color: #FFCC00; }
* h1 > a:hover {
  color: #FFCC00; }
* h1 > a:active {
  color: #FFCC00; }
* h1 > a:focus {
  color: #FFCC00; }

* h2 > a,
* h3 > a {
  color: #FFFFFF; }
* h2 > a:hover,
* h3 > a:hover {
  color: #FFFFFF; }
* h2 > a:active,
* h3 > a:active {
  color: #FFFFFF; }
* h2 > a:focus,
* h3 > a:focus {
  color: #FFFFFF; }

* a,
* a:hover,
* a:active,
* a:focus {
  text-decoration: none;
  color: #FFCC00; }

* a:hover,
* a:active,
* a:focus {
  text-decoration: underline; }

html {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #333333;
  font-family: "Open Sans", sans-serif; }

* > a {
  color: inherit; }
* > a:hover {
  color: inherit; }
* > a:active {
  color: inherit; }
* > a:focus {
  color: inherit; }

* h1 > a {
  color: #FFCC00; }
* h1 > a:hover {
  color: #FFCC00; }
* h1 > a:active {
  color: #FFCC00; }
* h1 > a:focus {
  color: #FFCC00; }

* h2 > a,
* h3 > a {
  color: #FFFFFF; }
* h2 > a:hover,
* h3 > a:hover {
  color: #FFFFFF; }
* h2 > a:active,
* h3 > a:active {
  color: #FFFFFF; }
* h2 > a:focus,
* h3 > a:focus {
  color: #FFFFFF; }

* a,
* a:hover,
* a:active,
* a:focus {
  text-decoration: none;
  color: #FFCC00; }

* a:hover,
* a:active,
* a:focus {
  text-decoration: underline; }

html {
  background: #333333;
  padding: 0px;
  margin: 0px; }
  html body {
    padding: 0px;
    margin: 0px; }
    @media screen and (min-width: 81em) {
      html body {
        font-size: 18px; } }
    @media screen and (max-width: 80em) {
      html body {
        font-size: 16px; } }
    @media screen and (max-width: 16em) {
      html body {
        font-size: 14px; } }
    html body > header {
      padding-left: 0;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      border-top: 0.25em #FFCC00 solid;
      border-bottom: 1px #404040 solid;
      color: #FFCC00;
      background: #333333;
      font-family: "PT Serif", serif; }
      html body > header > nav {
        padding-top: 0;
        padding-bottom: 0; }
        html body > header > nav > ul {
          margin-left: 0;
          margin-top: 0;
          margin-right: 0;
          margin-bottom: 0;
          padding-left: 0;
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 0;
          list-style-type: none;
          list-style-image: none; }
          html body > header > nav > ul > li {
            display: inline; }
            html body > header > nav > ul > li.previous {
              float: right; }
              html body > header > nav > ul > li.previous > a::before {
                content: "\00ab  "; }
            html body > header > nav > ul > li.next {
              float: right; }
              html body > header > nav > ul > li.next > a::after {
                content: " \00bb "; }
            html body > header > nav > ul > li > a {
              padding-left: 0.5em;
              padding-top: 0;
              padding-right: 0.5em;
              padding-bottom: 4px;
              margin-left: 0;
              margin-top: 0;
              margin-right: 0;
              margin-bottom: 0;
              color: #FFCC00;
              font-size: 1.2em;
              font-weight: lighter;
              font-style: italic;
              display: inline-block;
              border-top: 0.2em #333333 solid; }
            html body > header > nav > ul > li > a:hover {
              text-decoration: none;
              background: #FFCC00;
              color: #333333;
              border-top: 0.2em #FFCC00 solid; }
            html body > header > nav > ul > li > a:active {
              text-decoration: none;
              color: #FFCC00; }
            html body > header > nav > ul > li > a:focus {
              text-decoration: none;
              color: #FFCC00; }
    html body > footer {
      border-top: 1px solid #FF995E; }
    html body > footer section.preview h1 {
      padding-left: 0.5em;
      padding-top: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 0.5em; }
      html body > footer section.preview h1 a span.next-up,
      html body > footer section.preview h1 a span.summary,
      html body > footer section.preview h1 > span span.next-up,
      html body > footer section.preview h1 > span span.summary {
        font-size: 16px; }
      html body > footer section.preview h1 a span.next-up,
      html body > footer section.preview h1 a span.title,
      html body > footer section.preview h1 a span.summary,
      html body > footer section.preview h1 > span span.next-up,
      html body > footer section.preview h1 > span span.title,
      html body > footer section.preview h1 > span span.summary {
        display: block; }
      html body > footer section.preview h1:hover a,
      html body > footer section.preview h1:hover > a.title,
      html body > footer section.preview h1:hover > span.title {
        color: #FFCC00; }
      html body > footer section.preview h1:hover > a > span.title,
      html body > footer section.preview h1:hover > span > span.title {
        text-decoration: underline; }
    @media screen and (min-width: 81em) {
      html body article,
      html body > header > nav,
      html body > footer section.preview {
        font-size: 18px;
        width: 48.6em;
        margin-left: 16.2em;
        margin-right: 16.2em; } }
    @media screen and (max-width: 80em) {
      html body article,
      html body > header > nav,
      html body > footer section.preview {
        font-size: 16px;
        width: 48em;
        margin-left: 16em;
        margin-right: 16em; } }
    @media screen and (max-width: 16em) {
      html body article,
      html body > header > nav,
      html body > footer section.preview {
        padding: 1em;
        font-size: 14px; } }
    html body article {
      margin-bottom: 2em; }
      html body article pre code {
        overflow-x: scroll; }

/*# sourceMappingURL=root.css.map */
