<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Hello!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="/cv/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/cv/css/variables.css" />
    <link rel="stylesheet" type="text/css" href="/cv/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/cv/components/card/card.css" />
    <link  rel="stylesheet" type="text/css" href="/cv/components/card/card-list.css" />
</head>
    <body>
        <section class="card">
            <h3 class="well bordered">
                <span class="header">
                    Service Desk Agent
                </span>
                <span class="date details">
                    2022-2023
                </span>
                <span class="company details">
                    CircleK
                </span>
            </h3>
            <p class="description">Incident troubleshooting, categorization, and resolution, as well as documentation of discovered solutions. Adherence to internal and external KPI's</p>
        </section>
        <section class="card">
            <h3 class="well bordered">
                <span class="header">
                    Service Desk Agent
                </span>
                <span class="date details">
                    2022-2023
                </span>
                <span class="company details">
                    CircleK
                </span>
            </h3>
            <p class="description">Incident troubleshooting, categorization, and resolution, as well as documentation of discovered solutions. Adherence to internal and external KPI's</p>
        </section>
        <section class="card">
            <h3 class="well bordered">
                <span class="header">
                    Service Desk Agent
                </span>
                <span class="date details">
                    2022-2023
                </span>
                <span class="company details">
                    CircleK
                </span>
            </h3>
            <p class="description">Incident troubleshooting, categorization, and resolution, as well as documentation of discovered solutions. Adherence to internal and external KPI's</p>
        </section>
        <section class="card">
            <h3 class="well bordered">
                <span class="header">
                    Service Desk Agent
                </span>
                <span class="date details">
                    2022-2023
                </span>
                <span class="company details">
                    CircleK
                </span>
            </h3>
            <p class="description">Incident troubleshooting, categorization, and resolution, as well as documentation of discovered solutions. Adherence to internal and external KPI's</p>
        </section>
    </body>
</html>