.main(@page-width, @container-width) {
  /*@bg-cl: #28282B;
  @wl-cl: #3F3F46;*/
  @hs-cl: #3F3F46;
  @hl-blue: #007ACC;
  @dl-purple: #68217A;
  
  @base-padding-size: 5px;
  @border-base-size: @base-padding-size;
  @border-base-type: solid;
  @border-base-color: @dl-purple;
  @border-base: @border-base-size @border-base-type @border-base-color;
  
  .border-base(@size: @border-base-size, @type: @border-base-type, @color: @border-base-color) {
    
    &:hover {
      border-bottom: @size @type @color;
    }
    
    .transit(0.1s);
  }
  
  .sans {
    font-family: 'Droid Sans', Arial, sans-serif;
  }
  
  .serif {
    font-family: 'Droid Serif', Georgia, Times, serif;
  }
  
  .icons {
    font-family: 'Entypo';
  }
  
  .capitals {
    text-transform: uppercase;
  }

  a,
  a:active,
  a:focus,
  a:visited {    
    text-decoration: none;
  }
  
  nav a {
    font-variant: small-caps;
    font-weight: bolder;
  }
  
  /*
   * Structural
   */
  body {
    .sans;
    
    
    h1,h2,h3,h4,h5,h6 {
      .serif;
      .inline-box;
      
      .width(@page-width);
    }
    
    header {
      width: 100%;
      
      nav {
        ul {
          padding: 0;
          
          li {
            display: inline;
            .transit(0.1s);
            
            &:hover {
              text-decoration: none;
            }
  
            &:not(:first-child) {
              float:right;
              margin-right: 1em;
              font-size: xx-large;
              padding-top: 0;
              .icons;
            }
            
            &:first-child {
              text-transform: lowercase;
            }
             
            @media all and (max-width: @low) a {
              display: inline;
            }
            
            a {
              border: @border-base-size @border-base-type @hl-blue;
              color: #fff;
              padding: @base-padding-size;
              padding-top: @base-padding-size * 0.75;
              background-color: @hl-blue;

              .transit(0.1s);
              
              &:hover {
                border: @border-base-size @border-base-type @dl-purple;
                background-color: @dl-purple;
              }
            }
          }
        }
      }
    }
    
    article {
      .width(percentage(3/3));
    }
  }
}