	{% comment %}
	<footer>
		<section>
			<a class="facebook icons" href="http://facebook.com/defavlt">&#xe027;</a>
  			<a class="twitter icons" href="http://twitter.com/defavlt">&#xe086;</a>
  			<a class="stackoverflow icons" href="http://stackoverflow.com/users/512929/marcus-hansson">&#xe081;</a>
  			<a class="github icons" href="http://github.com/defavlt/">&#xe037;</a>
		</section>
	</footer>
	{% endcomment %}
  </body>
  
  <script type="text/javascript" src="//yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/js/root.js"></script>

  <script type="text/javascript">
    if (hljs !== undefined)
        hljs.initHighlightingOnLoad();
  </script>
</html>
