<header>
	<nav>
		{% assign postCount = (site.posts | size | downcase) %}
		
		{% if page.title == "home" %}
			<a href="/{{ postCount | remove: ' ' }}/">latest</a>
		{% else %}
			{% assign pageId = (page.id | remove: '/' | downcase) %}
			
			{% assign i = postCount %}
			{% for p in site.posts %}
				{% if p.url == page.url %}
					{% assign pageId = i %}
					{% break %}
				{% endif %}
				
				{% capture i %}{{ i | minus: 1 }}{% endcapture %}
			{% endfor %}

			{% assign prev = site.posts[prevId] %}
			{% assign next = site.posts[nextId] %}

			{% if pageId == "1" %}
			
				{% assign prevId = nil %}
				{% assign nextId = (pageId | plus: 1 ) %}

				<a class="disabled">previous</a>
				<a title="{{ next.title }}" href="/{{ nextId }}/">next</a>
			
			{% elsif postCount == pageId %}
			
				{% assign prevId = (pageId | minus: 1 ) %}
				{% assign nextId = nil %}

				<a title="{{ prev.title }}" href="/{{ prevId }}/">previous</a>
				<a class="disabled">next</a>
			
			{% else %}
			
				{% assign prevId = (pageId | minus: 1 ) %}
				{% assign nextId = (pageId | plus: 1 ) %}
			
				<a title="{{ prev.title }}" href="/{{ prevId }}/">previous</a>
				<a title="{{ next.title }}" href="/{{ nextId }}/">next</a>
			
			{% endif %}
			
			<a href="/">home</a>
			
		{% endif %}
	</nav>
</header>