:root {
    --cl1: #FFFFFF;
    --cl2: #F6F6F6;
    --cl3: #E8E8E8;
    --cl4: #999999;
    --cborder: #333333;
    --ccolor: #333333;
    --clw1: #990100;
    --clw2: #B90504;
    --clw3: #b9050461;
}